<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="jss-starter-jss"
             deploymentSecret="wrlkkp380k144m8lyv0rwrdmech6adpnvf6ixnekw"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
